<a href="https://colab.research.google.com/github/kuruvaharshavardhan/python/blob/master/CRTDAY5PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# CHECK INPUT NUMBER IS LEAP YEAR OR NOT
n=int(input("enter a year"))
if n % 4 == 0 and n % 100 == 0 and n % 400 == 0:
       print("it is a leap year")
else:
      print("it is not a leap year")

enter a year2019
it is not a leap year

In [5]:
# CHECK INPUT NUMBER IS LEAP YEAR OR NOT
n=int(input("enter a year"))
if n % 4 == 0 and n % 100 == 0 and n % 400 == 0:
       print("it is a leap year")
else:
      print("it is not a leap year")

enter a year2023
it is not a leap year

In [9]:
# check the largest one among three numbers

a=int(input("enter a value"))
b=int(input("enter b value"))
c=int(input("enter c value"))
if a > b and a > c:
  print("a is greater")
elif b > a and b > c:
  print("b is greater")
else:
  print("c is greater")

enter a value12
enter b value21
enter c value9
b is greater

# while loop
syntax:
 #### while Boolean condition: <br>
      statement <br>
      increment/decrement

In [17]:
# need to print harsha as six times

n = 0
while (n <= 5):
   print("harsha")
   n = n +1

harsha
harsha
harsha
harsha
harsha
harsha

In [18]:
# input: 10
output : 1 2 3 4 5 6 7 8 9 10

SyntaxError: ignored

In [24]:
n=int(input("enter n value"))
while(n<=10):
   print("n")
   n= n+1

enter n value9
n
n

In [28]:
n=int(input("enter n value"))
n=1
while(n<=10):
   print(n)
   n= n+1

enter n value10
1
2
3
4
5
6
7
8
9
10

In [30]:
#input = 10
#output =30(2+4+6+8+10=30)


n =int(input("enter number"))
n=1
sum=0
while(n<=10):
  if(n%2==0):
       sum= sum+n
  n=n+1
print(sum)

enter number10
30