<a href="https://colab.research.google.com/github/kuruvaharshavardhan/python/blob/master/day7python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# collection of data structure types:

#### 1.List

#### 2.Tuple

#### 3.set

#### 4.dictinary

# List

- one of the data tsructures in python
- data structure means to store,sortand search options 
- Its one data structure iin python, the Item of list represented by comma and enclosed by square brackets

In [7]:
li = [1,8,16,9,2]
print(li)
print(li[2])
print(li[-3])
print(li[2:])
print(li[2:4])
print(li[-4:-3])

[1, 8, 16, 9, 2]
16
16
[16, 9, 2]
[16, 9]
[8]

In [6]:
li = [1,8,16,9,2]
print(li)
print(li[2])
print(li[-3])
print(li[2:])
print(li[2:4])
print(li[-3:-1])

[1, 8, 16, 9, 2]
16
16
[16, 9, 2]
[16, 9]
[16, 9]

In [10]:
li = ["gitam",1234,1235,1236,"hyderabad"]
print(li)
print(li[0][2])

['gitam', 1234, 1235, 1236, 'hyderabad']
t

In [11]:
del li[3]
print(li)

['gitam', 1234, 1235, 'hyderabad']

In [14]:
# update

li[1]= "harsha"
print(li)

['gitam', 'harsha', 1235, 'hyderabad']

In [20]:
#pasic list functions

li = [1,9,116,25,6]
print(max(li))
print(min(li))
print(sum(li))
print(len(li))
print(sum(li)//len(li))

116
1
157
5
31

In [33]:
li = [1,9,116,25,6]
li.append(89)
print(li)
li.insert(2,56)
print(li)
print(li.count(9))
li.index(25)
print(li)
li.sort()
print(li)
li.pop()
print(li)
li.pop(1)
print(li)

[1, 9, 116, 25, 6, 89]
[1, 9, 56, 116, 25, 6, 89]
1
[1, 9, 56, 116, 25, 6, 89]
[1, 6, 9, 25, 56, 89, 116]
[1, 6, 9, 25, 56, 89]
[1, 9, 25, 56, 89]

In [31]:
l=[1,1,2,5,78]
print(l.count(2))

1

In [37]:
li =  [1,9,116,25,5,9]
li1 = [76,78,79]
li.extend(li1)  
print(li)
li.reverse()
print(li)

[1, 9, 116, 25, 5, 9, 76, 78, 79]
[79, 78, 76, 9, 5, 25, 116, 9, 1]

In [38]:
# function to return the largest number from 
def largestnumber(li):
    li.sort()
    return li[-1]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li = [19,1,25,45,76]
print(largestnumber(li))
print(genericlarge(li,3))

76
25

In [40]:
def smallestnumber(li):
    li.sort()
    return li[0]
def genericsmall(li,n):
    li.sort()
    return li[n]
li = [19,1,25,45,76]
print(smallestnumber(li))
print(genericsmall(li,3))

1
45

# TUPLE 
-  its one common data structure in python the items of tupe seperated by comma and enclosed by paranthesis ()

#### Example-
- if= (1,2,3,4)

# list and tuple

- in list they are mutable - can be changed/modified
- list used to modify,add,delete,update
- tuples are immutable - cannot be changed 
- tuple used acess the data only

# Dictionary

1. it works on concep of set unique data
2. dictionary contains keys and values
3.each key  and value seperaeted by comma
4.each key is seprated from its values and colon (:)

In [56]:
d1= {"name":"gitam","email": "gitam@in", "address":"hyderabad"}
d1['name']

'gitam'

In [0]:
d1= {"name":"gitam","email": "gitam@in", "address":"hyderabad"}
d1['name'] : 'harsha'

In [67]:
d1['roll_no'] ='221710311033'
d1

{'address': 'hyderabad', 'name': 'gitam', 'roll_no': '221710311033'}

In [70]:
del d1['email'] 
d1

KeyError: ignored

In [69]:
d1.values()

dict_values(['gitam', 'hyderabad', '221710311033'])

In [68]:
d1.keys()

dict_keys(['name', 'address', 'roll_no'])

# STRings

In [75]:
s1 = "PYTHON"
print(s1)
print(type(s1))

PYTHON
<class 'str'>

In [77]:
S1  + "PYTHON"
print(s1[0])
print(s1[len(s1)-2])
print(s1[1:-1])
print(s1[len(s1)//2])
print(s1[::3])
print(S1[::-1])

P
O
YTHO
H
PH
NOHTYP

# string Built in methods:

- upper
- lower
- islower
- isupper
- istitle
- isnumeric
- isalpha
- isspace

In [90]:
s1= "python"
print(s1.upper())
print(s1.lower())
print(s1.isupper())
print(s1.islower())
print(s1.istitle())
print(s1.isnumeric())
print(s1.isalpha())
print(s1.isspace())

PYTHON
python
False
True
False
False
True
False

In [96]:
s1 = ' '
print(s1.isspace())

True

# string methods
- join()
- spilt()
- repace()

In [97]:
s1 = "python"
print("*".join(s1))

p*y*t*h*o*n

In [99]:
s1 = "python programming easy to learn"
print(s1.replace("ing","gitam"))

python programmgitam easy to learn