<a href="https://colab.research.google.com/github/kuruvaharshavardhan/python/blob/master/day8_basic%20_C_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#include <stdio.h>

void main()
{
   printf("abcd\\xyz");
}

In [0]:
#include <stdio.h>

void main()
{
    int i = 29;
   printf("%o",i);
}

In [0]:


#include <stdio.h>

void main()
{
   int a=5,b=7,c;
   c=b||++a;
   printf("%d",a);
}